---
import SectionTitle from "@/components/SectionTitle.astro";
import ServiceItem from "./ServiceItem.astro";
---

<section id="service" class="pt-50 md:pt-64 lg:pt-90 xl:pt-100 2xl:pt-144">
  <div id="service-content" class="service-container container-base">
    <SectionTitle title="Service" service={true} others="blurFadeIn" />
    <ul class="service-list fadeIn my-2 md:pt-5 2xl:pt-10 portrait:lg:pt-8">
      <ServiceItem />
    </ul>
  </div>
</section>
