@import "tailwindcss";

@theme {
  --font-primary:
    yu-gothic-pr6n, "YuGothic", "Yu Gothic", "ヒラギノ角ゴシック",
    "Hiragino Sans", var(--font-sans), sans-serif;
  --font-en:
    "gill-sans-nova", "Trebuchet MS", "YuGothic", "Yu Gothic",
    "ヒラギノ角ゴシック", "Hiragino Sans", var(--font-sans), sans-serif;
  --font-sub:
    "YuGothic", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans",
    var(--font-sans), sans-serif;
  --color-main: #412e49;
  --color-dark: #332738;
}

@layer components {
  .container-base {
    @apply mx-auto max-w-[1280px] px-6 md:w-6/7 md:px-0;
  }

  .works-content p {
    @apply lg:mb-3;
  }

  .works-content h2 {
    @apply mb-2 text-base font-bold lg:text-xl;
  }

  .works-content a {
    @apply mb-6 inline-block underline duration-300 lg:mb-9;
  }

  .works-content a:hover {
    @apply opacity-70;
  }

  .works-content ul {
    @apply mb-7 list-inside list-disc lg:mb-9;
  }
}

@layer base {
  p {
    @apply pb-6;
  }
}
