---
import WorksLayout from "@/layout/WorksLayout.astro";
import ContactFooter from "@/components/ContactFooter/index.astro";
import PageHeader from "@/components/PageHeader/index.astro";
import Rhoms from "@/components/Rhoms.astro";
import WorksItem from "@/components/WorksItem/index.astro";
---

<WorksLayout
  title="Works(制作実績一覧) | such - Frontend Development"
  description="suchによるWeb制作・フロントエンド実装の制作実績一覧ページです。デザイン再現性やアニメーション、アクセシビリティに配慮した実装事例を掲載しています。"
>
  <section id="works" class="relative">
    <div class="works-container container-base opacity-0 lg:w-4/5 2xl:w-full">
      <PageHeader title="制作実績" sub="Works" />
      <ul
        class="prev-fade works-list w-full pt-14 pb-50 md:pt-24 lg:pb-100 xl:pt-40"
      >
        <WorksItem />
      </ul>
    </div>
    <Rhoms id="lower" down={true} offset="translate-y-1/12" />
  </section>
  <ContactFooter />
</WorksLayout>

<script>
  import blurFadeIn from "@/libs/animations/blurFadeIn";
  import initPageToFooterAnimations from "@/libs/animations/initPageToFooterAnimations";

  const works = document.getElementById("works");
  const contentEl = works?.querySelector<HTMLElement>(".works-container");

  if (works && contentEl) {
    initPageToFooterAnimations(works);
    const tl = blurFadeIn({
      target: contentEl,
      fromOptions: { y: -5 },
      toOptions: { y: 0 },
    });
    tl.play();
  }
</script>
