---
import HeaderLogo from "./HeaderLogo.astro";
import HeaderMenu from "./HeaderMenu.astro";
---

<header
  id="header"
  class="header fixed top-0 left-0 z-1000 w-screen text-white"
>
  <div
    class="header-container grid [grid-template-columns:1fr_auto] justify-between px-1 py-2"
  >
    <div class="header-logo h-12 w-12">
      <a href="#">
        <HeaderLogo />
      </a>
    </div>
    <HeaderMenu />
  </div>
</header>
