---
import Rhoms from "@/components/Rhoms.astro";
---

<section id="concept">
  <div class="concept-container container-base h-svh w-svw bg-main">
    <div class="concept-content">
      <h1>小さなカケラから<br>
      <span>大きな幸せ</span>を</h1>
      <div class="concept-txt">
        <p>suchとして<br class="lg:hidden">個人でWebサイト制作を<br class="lg:hidden">行っています。</p>
        <p>想いやりの心を大切に、<br class="lg:hidden">丁寧なお仕事を心がけています。</p>
      </div>
    </div>
    <div class="concept-img">
      <img src="./images/hand.png" alt="幸せのカケラを拾う手">
    </div>
  </div>
  <Rhoms />
</section>
