---
import Button from "@/components/Button/index.astro";
import SectionTitle from "@/components/SectionTitle.astro";
---

<section id="contact" class="bg-main">
  <div
    class="contact-container container-base py-10 md:pb-18 xl:py-20 2xl:py-24"
  >
    <SectionTitle title="Contact" sub="お問い合わせ" white={true} />
    <p class="text-center text-white lg:pb-16">
      Webサイト制作にお困りの際は<br
        class="lg:hidden"
      />まずはお気軽にご相談ください！<br />
      お仕事のご依頼の他、<br
        class="lg:hidden"
      />外部パートナーとしてのお誘いなども含め<br />
      ぜひご連絡いただけると嬉しいです！
    </p>
    <Button text="Get in Touch" link="#" other="py-5" subColor={true} />
  </div>
</section>
