---
import cn from "@/libs/cn";

interface Props {
  size?: number;
  other?: string;
  color?: string;
}

const { size, other, color } = Astro.props as Props;

const style = cn(
  "m-auto block rotate-45 bg-white md:h-2 md:w-2",
  size ? `h-${size} w-${size}` : "h-1 w-1",
  color ? `bg-${color}` : "bg-white",
  other,
);
---

<span class={style}>
  <slot />
</span>
