---

---

<div id="hero" class="bg-main relative h-screen w-svw">
  <div
    class="hero-container relative mx-auto h-full w-full max-w-[1280px] px-5"
  >
    <img
      src="./images/logo-wh.png"
      alt="suchのロゴ"
      class="absolute inset-0 m-auto h-25 w-25 md:h-50 md:w-50"
    />
  </div>
</div>
