---
---

<div id="hero" class="relative h-svh w-svw">
  <div class="hero-container container-base relative w-full h-full">
      <img src="./images/logo-wh.png" alt="suchのロゴ" class="absolute inset-0 m-auto h-25 w-25">
    </div>
  </div>
</div>
