---
import cn from "@/libs/cn";

interface Props {
  id: string;
  down?: boolean;
  others?: string;
}

const { id, down = false, others } = Astro.props as Props;

const rhomsStyle = cn(
  "rhoms absolute w-screen left-0 -z-10  overflow-hidden h-auto aspect-4/3 md:aspect-2/1",
  {
    "-scale-y-100": down,
  },
  others,
);
---

<div id={`rhoms-${id}`} class={rhomsStyle}>
  <img
    src="./images/rhoms-sp.webp"
    alt=""
    class="rhoms-img h-full w-full origin-top object-contain md:hidden"
  />
  <img
    src="./images/rhoms.webp"
    alt=""
    class="rhoms-img hidden h-full w-full origin-top object-contain md:block"
  />
</div>
