---
import cn from "@/libs/cn";

interface Props {
  down?: boolean;
  others?: string;
}

const { down = false, others } = Astro.props as Props;

const rhomsStyle = cn(
  "rhoms absolute w-screen h-auto left-0 aspect-4/3 md:aspect-2/1",
  {
    "-scale-y-100": down,
  },
  others,
);
---

<div class={rhomsStyle}>
  <img
    src="./images/rhoms-sp.webp"
    alt=""
    class="h-full w-full object-contain md:hidden"
  />
  <img
    src="./images/rhoms.webp"
    alt=""
    class="hidden h-full w-full object-contain md:block"
  />
</div>
