---
import Button from "@/components/Button.astro";
import Rhoms from "./Rhoms.astro";
import SectionTitle from "@/components/SectionTitle.astro";
---

<section id="works">
  <div class="works-container container-base">
    <SectionTitle title="Works" sub="制作したもの" />
    <ul class="works-list">
      <li class="works-item">
        <a href="">
          <img src="./images/such-demo1-caputure.jpg" alt="">
          <p>Astro Demo Page</p>
        </a>
      </li>
      <li class="works-item">
        <a href="">
          <img src="./images/such-demo1-caputure.jpg" alt="">
          <p>Astro Demo Page</p>
        </a>
      </li>
    </ul>
    <Button text="View more" link="#" />
    <Rhoms down={true} />
  </div>

</section>
