---
import worksItemData from "@/data/worksItemData";
---

{
  worksItemData.map((item) => (
    <li class="works-item pb-7 md:pb-12 xl:pb-16 2xl:pb-20">
      <a href={item.link} class="text-main block h-full w-full">
        <img
          src={item.img}
          alt={item.title + " | suchの実績"}
          class="aspect-video h-full w-full object-cover"
        />
        <p class="font-en p-2 text-lg md:py-6 md:text-3xl md:tracking-widest 2xl:py-10">
          {item.title}
        </p>
      </a>
    </li>
  ))
}
