---
import worksItemData from "@/data/worksItemData";
---

{
  worksItemData.map((item) => (
    <li class="works-item pb-7">
      <a href={item.link} class="block h-full w-full">
        <img
          src={item.img}
          alt={item.title + " | suchの実績"}
          class="aspect-video h-full w-full object-cover"
        />
        <p class="font-en p-2 text-lg">{item.title}</p>
      </a>
    </li>
  ))
}
